{<<"name">>,<<"supervisor3">>}.
{<<"version">>,<<"1.1.7">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"supervisor3">>}.
{<<"maintainers">>,[<<"Shi Zaiming">>,<<"Ivan Dyachkov">>]}.
{<<"precompiled">>,false}.
{<<"description">>,
 <<"A copy of supervisor.erl from the R16B Erlang/OTP with modifications">>}.
{<<"files">>,
 [<<"src/supervisor3.app.src">>,<<"LICENSE">>,<<"LICENSE-MPL-RabbitMQ">>,
  <<"Makefile">>,<<"README.md">>,<<"erlang.mk">>,<<"rebar.config">>,
  <<"src/supervisor3.erl">>]}.
{<<"licenses">>,[<<"MPL">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/klarna/supervisor3">>}]}.
{<<"build_tools">>,[<<"make">>,<<"rebar">>,<<"rebar3">>]}.
