{<<"name">>,<<"crc32cer">>}.
{<<"version">>,<<"0.1.3">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"crc32cer">>}.
{<<"precompiled">>,false}.
{<<"description">>,<<"CRC32-C as nif for Erlang">>}.
{<<"files">>,
 [<<"src/crc32cer.app.src">>,<<"Makefile">>,<<"c_src/crc32c.c">>,
  <<"c_src/crc32c.h">>,<<"c_src/crc32c_nif.c">>,<<"c_src/rdendian.h">>,
  <<"erlang.mk">>,<<"rebar.config">>,<<"src/crc32cer.erl">>]}.
{<<"licenses">>,[<<"Apache License 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/zmstone/crc32cert .git">>}]}.
{<<"build_tools">>,[<<"make">>,<<"rebar">>,<<"rebar3">>]}.
